.toastui-calendar-travel-time{
  background-color: #ffffff99;
}

.toastui-calendar-event-time .toastui-calendar-travel-time{
  font-size: 14px;
}


.toastui-calendar-event-time .toastui-calendar-event-time-content{
  font-size: 24px;
}