.form {
  margin: 1rem 0;
  text-align: center;
}
//.date-input {
//  margin: 1rem 0;
//  text-align: center;
//}

.date-input-div {
  border-bottom: darkgray 1px solid;
}

input {
  margin-bottom: 1rem;

  //margin: 0 auto;
}