button {
  //margin: 1rem;

  width: 90%;
  height: 2.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.btn-div {
  text-align: center;

  padding: 1rem;
  width: 90%;
}

.address {
  text-align: center;
}

.address-div {
  margin: 1rem;
}